

body::after {
  content: "";
  background: url("../images/hoth.jpg") no-repeat center center fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
}

h2 {
	color: red;
}

ul {
	padding-left: 0;
}

.character, .user, .enemy, .defender {
	float: left;
	margin-right: 10px;
	list-style-type: none;
	overflow: hidden;
	cursor: pointer;
}

.character:hover, .enemy:hover {
	opacity: .5;	
}

.user {
	border: 3px solid green;
}

.enemy, .defender {
	border: 3px solid red;
}

#fight-section, #enemy-list, #defender-list {
	visibility: hidden;
}

.thumbnail {
	margin-bottom: 0;
}
